Kliencik/Service References/ServiceReference1/ProduktyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProduktyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9829/ProduktyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9829/ProduktyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9829/ProduktyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProduktyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProdukty_GetProdukty_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProdukty" />
  </wsdl:message>
  <wsdl:message name="IProdukty_GetProdukty_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProduktyResponse" />
  </wsdl:message>
  <wsdl:message name="IProdukty_GetManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturers" />
  </wsdl:message>
  <wsdl:message name="IProdukty_GetManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IProdukty_GetSubcategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubcategory" />
  </wsdl:message>
  <wsdl:message name="IProdukty_GetSubcategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubcategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IProdukty">
    <wsdl:operation name="GetProdukty">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdukty/GetProdukty" message="tns:IProdukty_GetProdukty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdukty/GetProduktyResponse" message="tns:IProdukty_GetProdukty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdukty/GetManufacturers" message="tns:IProdukty_GetManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdukty/GetManufacturersResponse" message="tns:IProdukty_GetManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubcategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IProdukty/GetSubcategory" message="tns:IProdukty_GetSubcategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProdukty/GetSubcategoryResponse" message="tns:IProdukty_GetSubcategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProdukty" type="tns:IProdukty">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProdukty">
      <soap:operation soapAction="http://tempuri.org/IProdukty/GetProdukty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <soap:operation soapAction="http://tempuri.org/IProdukty/GetManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubcategory">
      <soap:operation soapAction="http://tempuri.org/IProdukty/GetSubcategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProduktyService">
    <wsdl:port name="BasicHttpBinding_IProdukty" binding="tns:BasicHttpBinding_IProdukty">
      <soap:address location="http://localhost:9829/ProduktyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>