Kliencik/Service References/ServiceReference1/ProduktyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProduktyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProduktyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducts_TEST">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Products_TEST" nillable="true" type="tns:Products_TEST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducts_TEST" nillable="true" type="tns:ArrayOfProducts_TEST" />
  <xs:complexType name="Products_TEST">
    <xs:sequence>
      <xs:element minOccurs="0" name="ManID" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturers" nillable="true" type="tns:Manufacturers" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdID" type="xs:int" />
      <xs:element minOccurs="0" name="Specification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="tns:SubCategory" />
      <xs:element minOccurs="0" name="SubID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Products_TEST" nillable="true" type="tns:Products_TEST" />
  <xs:complexType name="Manufacturers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Manufacturer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Manufacturer_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products_TEST" nillable="true" type="tns:ArrayOfProducts_TEST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manufacturers" nillable="true" type="tns:Manufacturers" />
  <xs:complexType name="SubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="Category_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Products_TEST" nillable="true" type="tns:ArrayOfProducts_TEST" />
      <xs:element minOccurs="0" name="Subcategory_id" type="xs:int" />
      <xs:element minOccurs="0" name="Subcategory_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubCategory" nillable="true" type="tns:SubCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Category_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="tns:ArrayOfSubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfSubCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubCategory" nillable="true" type="tns:SubCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubCategory" nillable="true" type="tns:ArrayOfSubCategory" />
  <xs:complexType name="ArrayOfManufacturers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manufacturers" nillable="true" type="tns:Manufacturers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManufacturers" nillable="true" type="tns:ArrayOfManufacturers" />
</xs:schema>