Kliencik/Service References/ServiceReference1/ProduktyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9829/ProduktyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProduktyService" />
  <xs:element name="GetProdukty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduktyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProduktyService" minOccurs="0" name="GetProduktyResult" nillable="true" type="q1:ArrayOfProducts_TEST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufacturersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProduktyService" minOccurs="0" name="GetManufacturersResult" nillable="true" type="q2:ArrayOfManufacturers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProduktyService" minOccurs="0" name="GetSubcategoryResult" nillable="true" type="q3:ArrayOfSubCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>